# ─────────────────────────────────────────────
# HDFC Mutual Fund FAQ Assistant — Environment Variables
# ─────────────────────────────────────────────

# Google Gemini API Key
# Get yours at: https://aistudio.google.com/app/apikey
GEMINI_API_KEY=your_gemini_api_key_here

# ChromaDB Persistence Directory
# Path where the vector database will be stored locally
CHROMA_PERSIST_DIR=./chroma_db

# Groq API Key
# Get yours at: https://console.groq.com/keys
GROQ_API_KEY=your_groq_api_key_here
GROQ_LLM_MODEL=llama-3.1-8b-instant

